.content-detail__main {
  padding: 20px 40px;
}

.content-detail .ant-anchor-link {
  font-size: 12px;
}

.content-detail h1 {
  font-size: 30px;
}

.content-detail h2 {
  font-size: 24px;
}

.content-detail h3 {
  font-size: 18px;
}

.content-detail h4 {
  font-size: 16px;
}

.content-detail img {
  width: 100%;
}

.content-detail img.with-margin {
  margin: 16px 0;
}

.content-detail img.shadow {
  box-shadow: 0 8px 20px rgb(143 168 191 / 35%);
}

.content-detail img.margin-auto {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
