.default-header {
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 3%), 0 1px 6px -1px rgb(0 0 0 / 2%),
    0 2px 4px 0 rgb(0 0 0 / 2%);
  z-index: 1000;
}

.default-header__logo a {
  --black: #000000e0;
  display: inline-flex;
  align-items: center;
  color: var(--black);
  font-size: 18px;
  font-weight: 600;
}

.default-header__logo img {
  height: 32px;
  margin-right: 12px;
}

.default-header__menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.default-header__menu .ant-menu .ant-menu-item::after {
  top: 0;
  bottom: auto;
}

.default-header__menu .anticon {
  font-size: 16px;
}
